
.text-flex-32-72 {
  font-size: rem-calc(32);
  font-size: calc(32px +  40 * (100vw - 320px)/1180);
  @include breakpoint(xxlarge) {
		font-size: rem-calc(72);
	}
}

// Odometer redone with text instead of sprites //
.number-channel {
  height: 1.2em;
  overflow: hidden;
  line-height: 1em;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  $transition-delay: 1.1;
  > div {
    transform: translateY(1em);
    @for $i from 1 through 12 {
      &:nth-child(#{$i}).animate {
        transition-delay: ($transition-delay - $i/12) + s;
      }
    } 
    &.animate {
      transform: translateY(-1.2em * 10);
      transition-property: transform;
      transition-timing-function: linear;
      transition-duration: 1.6s;
    }    
  }  
} 
.stack {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1; 
    padding: 0;
    margin: 0;
  > div {
    height: 1.1em;
    margin: 0.1em 0.05em 0;
  }
}

